[submodule "pack/plug-ins/start/airline"]
	path = pack/plug-ins/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/plug-ins/start/colorschemes"]
	path = pack/plug-ins/start/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "pack/plug-ins/start/vim-surround"]
	path = pack/plug-ins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/plug-ins/start/table-mode"]
	path = pack/plug-ins/start/table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "pack/plug-ins/start/vim-fugitive"]
	path = pack/plug-ins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plug-ins/start/codi"]
	path = pack/plug-ins/start/codi
	url = https://github.com/metakirby5/codi.vim
[submodule "pack/plug-ins/start/YouCompleteMe"]
	path = pack/plug-ins/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
